<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cosc345.kickons">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorChanging">
        <activity
            android:screenOrientation="locked"
            android:name="com.cosc345.kickons.SplashScreenActivity"
            android:theme="@style/Theme.ColorChanging"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cosc345.kickons.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.cosc345.kickons.OnlineDeckPicker"
            android:exported="true">
        </activity>


        <activity
            android:name="com.cosc345.kickons.CardCreation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.cosc345.kickons.DeckCreation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cosc345.kickons.EditDeck"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cosc345.kickons.DeckPicker"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cosc345.kickons.DeckCards"
            android:exported="true">
        </activity>

        <activity
            android:name="com.cosc345.kickons.AddPlayer"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cosc345.kickons.WelcomePage"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cosc345.kickons.HelpPage"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

    </application>

</manifest>